<div class="nav">
  <ul>
    <li>
      <a href="{{ site.baseurl }}">Home
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/about">About
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/contact">Contact
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </li>
  </ul>
</div>