<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
{% include nav.html %}
  <div class="main">
  <div class="gallery">
    <a href="{{ site.baseurl }}/photos" style="text-decoration: none;color:white;"><h4>VIEW PHOTOS</h4></a>
  </div>
  <div class="social">
      <a href="#" class="fa fa-github"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest-p"></a>
  </div>
 </div>

    <script  src="{{ site.baseurl }}/js/index.js"></script>
    <script src="{{ site.baseurl }}/js/bundle.js"></script>
  </body>
</html>
