<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  
</head>
<body>
<div id="carousel">
    <carousel-3d :autoplay="true" :autoplay-timeout="2400">
        <slide :index="0"><img src="https://res.cloudinary.com/ameo/image/upload/v1498843587/kTcPaQR_x77hor.jpg" /></slide>
        <slide :index="1"><img src="https://unsplash.it/400/300?image=456" /></slide>
        <slide :index="2"><img src="https://unsplash.it/400/300?image=222" /></slide>
        <slide :index="3"><img src="https://unsplash.it/400/300?image=1003" /></slide>
        <slide :index="4"><img src="https://unsplash.it/400/300?image=940" /></slide>
        <slide :index="5"><img src="https://unsplash.it/400/300?image=944" /></slide>
        <slide :index="6"><img src="https://unsplash.it/400/300?image=219" /></slide>
        <slide :index="7"><img src="https://unsplash.it/400/300?image=1041" /></slide>
    </carousel-3d>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.7/vue.js"></script>
<script src="https://rawgit.com/Wlada/vue-carousel-3d/master/dist/vue-carousel-3d.min.js"></script>

<script type="text/javascript">
    new Vue({
  el: '#carousel',
  data: {
    slides: 7
  },
  components: {
    'carousel-3d': Carousel3d.Carousel3d,
    'slide': Carousel3d.Slide
  }
})
</script>
</body>
</html>